*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: black;
    font-size: 16px;
    font-family: "Kumbh Sans", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

main{
    position: relative;
}

strong,
h4{
    letter-spacing: 1px;
    color: hsl(229, 23%, 23%);
}

.container{
    width: 100vw;
    height: 50vh;
    background-color: hsl(185, 75%, 39%);
    background-image: url(../img/bg-pattern-top.svg);
    background-repeat: no-repeat;
    background-size: 750px;
    background-position-y: -460px;
    background-position-x: -20%;
}


hr{
    margin: 20px 0;
    width: 95%;
    color: hsl(225, 10%, 92%);
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.age{
    margin: 0 5px 10px 0;
    font-size: 14px;
    font-weight: 400;
}

span{
    color: hsl(227, 10%, 46%);
    font-size: 12px;
}

.ct_down{
    width: 100vw;
    height: 50vh;
    background-color: hsl(185, 75%, 39%);
    background-image: url(../img/bg-pattern-bottom.svg);
     background-repeat: no-repeat;
    background-size: 800px;
    background-position-y: 10px;
    background-position-x: 130%;
}

.card{
    position: absolute;
    transform: translate(80vh, -75vh);
    width: 300px;
    height: 340px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

.row_up{
    border-radius: 15px 15px 0 0;
    background-color: burlywood;
    height: 30%;
}

.row_up img{
    max-width: 100%;
    border-radius: 15px 15px 0 0;
}

.row_down{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    border-radius: 0 0 15px 15px;
    height: 80%;
}

.img_account{
    position: absolute;
    transform: translate(90%,55%);
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    width: 36%;
    height: 32%;
}

.img_account img{
    border-radius: 100%;
    padding: 6px;
}

.footer_col{
    width:70px;
}

.footer_col span{
    font-size: 10px;
}